<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparación de Pilotos F1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Comparación de Rendimiento de Pilotos F1 - 2023</h1>

        <!-- Selector de Pilotos -->
        <label for="piloto1">Selecciona el primer piloto:</label>
        <select id="piloto1">
            <!-- Estas opciones se cargarán con JavaScript -->
        </select>

        <label for="piloto2">Selecciona el segundo piloto:</label>
        <select id="piloto2">
            <!-- Estas opciones se cargarán con JavaScript -->
        </select>

        <!-- Contenedor para la gráfica -->
        <div id="grafica" style="width:100%;height:500px;"></div>
    </div>

    <!-- Incluir el archivo de script externo -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>s